*
    padding: 0;
    margin: 0;

p
    margin: 0;

a 
    text-decoration: none!important;


// Main
main
    padding-top: 50px;
    .orders 
        padding-top: 30px    
        .order-card
            margin: 10px 10px    
    
.menus
    margin-top: 50px;
    .menu-card
        margin: 10px 10px;

.dishes
    margin-top: 50px;